InventoryServiceClient/Connected Services/Inventory/InventoryService.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/InventoryService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InventoryService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="InventoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sku" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryItem" nillable="true" type="tns:InventoryItem" />
  <xs:complexType name="ArrayOfInventoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryItem" nillable="true" type="tns:InventoryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryItem" nillable="true" type="tns:ArrayOfInventoryItem" />
</xs:schema>