InventoryServiceClient/Connected Services/Inventory/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/InventoryService.Model" />
  <xs:element name="GetInventoryItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InventoryService.Model" minOccurs="0" name="GetInventoryItemResult" nillable="true" type="q2:InventoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InventoryService.Model" minOccurs="0" name="GetInventoryItemsResult" nillable="true" type="q3:ArrayOfInventoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInventoryItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InventoryService.Model" minOccurs="0" name="newItem" nillable="true" type="q4:InventoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInventoryItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>